@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    
}

.header{
   background-image: url("E:\3D Objects\portfolio\public\header.jpg");
   background-repeat: no-repeat;
   width: 100%;

}