@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font: sans;
}

.navbarAnimation{
    animation:slideIn 0.5s linear forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
    }
}