@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font: sans;
}

.navbarAnimation{
    animation:slideIn 0.7s linear forwards;
}

@keyframes slideIn {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity:1;
    }
}

.firstHeadingAnim{
    animation:rightIn 0.5s linear forwards;
}

@keyframes rightIn{
    0% {
        transform: translateX(100px);
        opacity:0;
    }
    100% {
        transform: translateX(0);
        opacity:1;
    }
}

.secondHeadingAnim{
    animation:lIn 0.5s linear forwards;
}

@keyframes rightIn{
    0% {
        transform: translateX(100px);
        opacity:0;
    }
    100% {
        transform: translateX(0);
        opacity:1;
    }
}